###############################################################
#          jupyter/jupyterlab extensions/kernels              #
###############################################################

jupyter-server-proxy
jupyter-vscode-proxy

###############################################################
#          lab extensions                                     #
###############################################################

numpy
pandas